<% include header.ejs %>
<h2>Write a new entry</h2>

<div class="panel panel-primary">
	<div class="panel-heading">
		 <h3 class="panel-title">New Entry</h3>
	</div>
	<form method="post" role="form">
		<div class="panel-body">
			<div class="form-group">
				<label for="author">Your Name</label>
				<input type="text" class="form-control" id="author"
				  name="author" placeholder="Enter Your Name" required>
			</div>

			<div class="form-group">
				<label for="title">Title</label>
				<input type="text" class="form-control" id="title"
				  name="title" placeholder="Entry title" required>
			</div>

			<div class="form-group">
			<label for="content">Entry text</label>
			<textarea class="form-control" id="body" name="body"
			placeholder="Love Express! It’s a great tool for building websites." rows="3" required></textarea></div>
			<div class="form-group">
				<input type="submit" value="Post entry" class="btn btn-primary">
			</div>
	</div>
	</form>
</div>
<% include footer.ejs %>
